In [4]:
import pandas as pd

In [6]:
datapath = 'Jeux_de_donnees/'

# Load the data
column_names = ['']
iris = pd.read_csv(datapath + "iris.csv", sep=';', encoding='latin')
iris

,Longueur des sépales,Largeur des sépales,Longueur des pétales,Largeur des pétales,Espèce
0,5.1,3.5,1.4,0.2,1
1,4.9,3.0,1.4,0.2,1
2,4.7,3.2,1.3,0.2,1
3,4.6,3.1,1.5,0.2,1
4,5.0,3.6,1.4,0.2,1
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,3
146,6.3,2.5,5.0,1.9,3
147,6.5,3.0,5.2,2.0,3
148,6.2,3.4,5.4,2.3,3
149,5.9,3.0,5.1,1.8,3

In [9]:
col_names= iris.columns.tolist()
col_names

['Longueur des sépales',
 'Largeur des sépales',
 'Longueur des pétales',
 'Largeur des pétales',
 'Espèce']