In [4]:
import pandas as pd
import numpy as np
ar = np.array([[1.1,2,3.3, 4], [2.7, 10, 5.4, 7], [5.3, 9, 1.5, 15]])
df = pd.DataFrame(ar, index = ['a1', 'a2', 'a3'], columns = ['A', 'B', 'C', 'D'])
df

      A     B    C     D
a1  1.1   2.0  3.3   4.0
a2  2.7  10.0  5.4   7.0
a3  5.3   9.0  1.5  15.0

In [6]:
dic = {'A' : [1.1,2,3.3], 'B' : [2.7, 10, 5.4], 'C': [5.3, 9, 1.5], 'D' : [2.7, 5, 15]  }
df = pd.DataFrame(dic, index = ['a1', 'a2', 'a3'])
df

      A     B    C     D
a1  1.1   2.7  5.3   2.7
a2  2.0  10.0  9.0   5.0
a3  3.3   5.4  1.5  15.0

In [7]:
import pandas as pd
inffood = pd.read_csv("food_info.csv")
print(type(inffood))
print()
print(inffood)

<class 'pandas.core.frame.DataFrame'>

      NDB_No                   Shrt_Desc  Water_(g)  Energ_Kcal  Protein_(g)  \
0       1001            BUTTER WITH SALT      15.87         717         0.85
1       1002    BUTTER WHIPPED WITH SALT      15.87         717         0.85
2       1003        BUTTER OIL ANHYDROUS       0.24         876         0.28
3       1004                 CHEESE BLUE      42.41         353        21.40
4       1005                CHEESE BRICK      41.11         371        23.24
...      ...                         ...        ...         ...          ...
8613   83110             MACKEREL SALTED      43.00         305        18.50
8614   90240  SCALLOP (BAY&SEA) CKD STMD      70.25         111        20.54
8615   90480                  SYRUP CANE      26.00         269         0.00
8616   90560                   SNAIL RAW      79.20          90        16.10
8617   93600            TURTLE GREEN RAW      78.50          89        19.80

      Lipid_Tot_(g)  Ash_(g)  Carbohydrt_(g)  Fiber_TD_(g)  Sugar_Tot_(g)  \
0             81.11     2.11            0.06           0.0           0.06
1             81.11     2.11            0.06           0.0           0.06
2             99.48     0.00            0.00           0.0           0.00
3             28.74     5.11            2.34           0.0           0.50
4             29.68     3.18            2.79           0.0           0.51
...             ...      ...             ...           ...            ...
8613          25.10    13.40            0.00           0.0           0.00
8614           0.84     2.97            5.41           0.0           0.00
8615           0.00     0.86           73.14           0.0          73.20
8616           1.40     1.30            2.00           0.0           0.00
8617           0.50     1.20            0.00           0.0           0.00

      ...  Vit_A_IU  Vit_A_RAE  Vit_E_(mg)  Vit_D_mcg  Vit_D_IU  Vit_K_(mcg)  \
0     ...    2499.0      684.0        2.32        1.5      60.0          7.0
1     ...    2499.0      684.0        2.32        1.5      60.0          7.0
2     ...    3069.0      840.0        2.80        1.8      73.0          8.6
3     ...     721.0      198.0        0.25        0.5      21.0          2.4
4     ...    1080.0      292.0        0.26        0.5      22.0          2.5
...   ...       ...        ...         ...        ...       ...          ...
8613  ...     157.0       47.0        2.38       25.2    1006.0          7.8
8614  ...       5.0        2.0        0.00        0.0       2.0          0.0
8615  ...       0.0        0.0        0.00        0.0       0.0          0.0
8616  ...     100.0       30.0        5.00        0.0       0.0          0.1
8617  ...     100.0       30.0        0.50        0.0       0.0          0.1

      FA_Sat_(g)  FA_Mono_(g)  FA_Poly_(g)  Cholestrl_(mg)
0         51.368       21.021        3.043           215.0
1         50.489       23.426        3.012           219.0
2         61.924       28.732        3.694           256.0
3         18.669        7.778        0.800            75.0
4         18.764        8.598        0.784            94.0
...          ...          ...          ...             ...
8613       7.148        8.320        6.210            95.0
8614       0.218        0.082        0.222            41.0
8615       0.000        0.000        0.000             0.0
8616       0.361        0.259        0.252            50.0
8617       0.127        0.088        0.170            50.0

[8618 rows x 36 columns]

In [8]:
inffood

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
0,1001,BUTTER WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2499.0,684.0,2.32,1.5,60.0,7.0,51.368,21.021,3.043,215.0
1,1002,BUTTER WHIPPED WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2499.0,684.0,2.32,1.5,60.0,7.0,50.489,23.426,3.012,219.0
2,1003,BUTTER OIL ANHYDROUS,0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,3069.0,840.0,2.80,1.8,73.0,8.6,61.924,28.732,3.694,256.0
3,1004,CHEESE BLUE,42.41,353,21.40,28.74,5.11,2.34,0.0,0.50,...,721.0,198.0,0.25,0.5,21.0,2.4,18.669,7.778,0.800,75.0
4,1005,CHEESE BRICK,41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,...,1080.0,292.0,0.26,0.5,22.0,2.5,18.764,8.598,0.784,94.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8613,83110,MACKEREL SALTED,43.00,305,18.50,25.10,13.40,0.00,0.0,0.00,...,157.0,47.0,2.38,25.2,1006.0,7.8,7.148,8.320,6.210,95.0
8614,90240,SCALLOP (BAY&SEA) CKD STMD,70.25,111,20.54,0.84,2.97,5.41,0.0,0.00,...,5.0,2.0,0.00,0.0,2.0,0.0,0.218,0.082,0.222,41.0
8615,90480,SYRUP CANE,26.00,269,0.00,0.00,0.86,73.14,0.0,73.20,...,0.0,0.0,0.00,0.0,0.0,0.0,0.000,0.000,0.000,0.0
8616,90560,SNAIL RAW,79.20,90,16.10,1.40,1.30,2.00,0.0,0.00,...,100.0,30.0,5.00,0.0,0.0,0.1,0.361,0.259,0.252,50.0
8617,93600,TURTLE GREEN RAW,78.50,89,19.80,0.50,1.20,0.00,0.0,0.00,...,100.0,30.0,0.50,0.0,0.0,0.1,0.127,0.088,0.170,50.0

In [10]:
#choisir une ligne particuliere
#loc = localisation per index[1000] => resultat: une series
row100 = inffood.loc[99]
print(type(row100))
print()
print(row100)

<class 'pandas.core.series.Series'>

NDB_No                                  1111
Shrt_Desc          MILK SHAKES THICK VANILLA
Water_(g)                              74.45
Energ_Kcal                               112
Protein_(g)                             3.86
Lipid_Tot_(g)                           3.03
Ash_(g)                                 0.91
Carbohydrt_(g)                         17.75
Fiber_TD_(g)                             0.0
Sugar_Tot_(g)                          17.75
Calcium_(mg)                           146.0
Iron_(mg)                                0.1
Magnesium_(mg)                          12.0
Phosphorus_(mg)                        115.0
Potassium_(mg)                         183.0
Sodium_(mg)                             95.0
Zinc_(mg)                               0.39
Copper_(mg)                            0.051
Manganese_(mg)                         0.014
Selenium_(mcg)                           2.3
Vit_C_(mg)                               0.0
Thiamin_(mg)                            0.03
Riboflavin_(mg)                        0.195
Niacin_(mg)                            0.146
Vit_B6_(mg)                            0.042
Vit_B12_(mcg)                           0.52
Vit_A_IU                                91.0
Vit_A_RAE                               25.0
Vit_E_(mg)                              0.05
Vit_D_mcg                                1.2
Vit_D_IU                                48.0
Vit_K_(mcg)                              0.2
FA_Sat_(g)                             1.886
FA_Mono_(g)                            0.875
FA_Poly_(g)                            0.113
Cholestrl_(mg)                          12.0
Name: 99, dtype: object

In [16]:
#extraire nb de lignes: ex: les 5 derniers lignes
numrow = inffood.shape[0]
print(numrow)
#slicing une partie de DF 
lastrow = inffood.loc[numrow-5:numrow]
lastrow

8618

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
8613,83110,MACKEREL SALTED,43.00,305,18.50,25.10,13.40,0.00,0.0,0.0,...,157.0,47.0,2.38,25.2,1006.0,7.8,7.148,8.320,6.210,95.0
8614,90240,SCALLOP (BAY&SEA) CKD STMD,70.25,111,20.54,0.84,2.97,5.41,0.0,0.0,...,5.0,2.0,0.00,0.0,2.0,0.0,0.218,0.082,0.222,41.0
8615,90480,SYRUP CANE,26.00,269,0.00,0.00,0.86,73.14,0.0,73.2,...,0.0,0.0,0.00,0.0,0.0,0.0,0.000,0.000,0.000,0.0
8616,90560,SNAIL RAW,79.20,90,16.10,1.40,1.30,2.00,0.0,0.0,...,100.0,30.0,5.00,0.0,0.0,0.1,0.361,0.259,0.252,50.0
8617,93600,TURTLE GREEN RAW,78.50,89,19.80,0.50,1.20,0.00,0.0,0.0,...,100.0,30.0,0.50,0.0,0.0,0.1,0.127,0.088,0.170,50.0

In [18]:
lastrow5 = inffood.loc[numrow-5:]
lastrow5

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
8613,83110,MACKEREL SALTED,43.00,305,18.50,25.10,13.40,0.00,0.0,0.0,...,157.0,47.0,2.38,25.2,1006.0,7.8,7.148,8.320,6.210,95.0
8614,90240,SCALLOP (BAY&SEA) CKD STMD,70.25,111,20.54,0.84,2.97,5.41,0.0,0.0,...,5.0,2.0,0.00,0.0,2.0,0.0,0.218,0.082,0.222,41.0
8615,90480,SYRUP CANE,26.00,269,0.00,0.00,0.86,73.14,0.0,73.2,...,0.0,0.0,0.00,0.0,0.0,0.0,0.000,0.000,0.000,0.0
8616,90560,SNAIL RAW,79.20,90,16.10,1.40,1.30,2.00,0.0,0.0,...,100.0,30.0,5.00,0.0,0.0,0.1,0.361,0.259,0.252,50.0
8617,93600,TURTLE GREEN RAW,78.50,89,19.80,0.50,1.20,0.00,0.0,0.0,...,100.0,30.0,0.50,0.0,0.0,0.1,0.127,0.088,0.170,50.0

In [23]:
#select/isole une colonne
protein = inffood["Protein_(g)"]
cholesterol = inffood["Cholestrl_(mg)"]
print("type de valeur du colonne protein : ",type(protein))
print()
print(protein)

type de valeur du colonne protein :  <class 'pandas.core.series.Series'>

0        0.85
1        0.85
2        0.28
3       21.40
4       23.24
        ...
8613    18.50
8614    20.54
8615     0.00
8616    16.10
8617    19.80
Name: Protein_(g), Length: 8618, dtype: float64

0       215.0
1       219.0
2       256.0
3        75.0
4        94.0
        ...
8613     95.0
8614     41.0
8615      0.0
8616     50.0
8617     50.0
Name: Cholestrl_(mg), Length: 8618, dtype: float64

In [24]:
print(type(cholesterol))
print()
print(cholesterol)

0       215.0
1       219.0
2       256.0
3        75.0
4        94.0
        ...
8613     95.0
8614     41.0
8615      0.0
8616     50.0
8617     50.0
Name: Cholestrl_(mg), Length: 8618, dtype: float64

In [28]:
#select pls colonnes
selenium_thiamin = inffood[['Shrt_Desc', 'Selenium_(mcg)', 'Thiamin_(mg)']]

print(type(selenium_thiamin))

<class 'pandas.core.frame.DataFrame'>

In [29]:
selenium_thiamin

                       Shrt_Desc  Selenium_(mcg)  Thiamin_(mg)
0               BUTTER WITH SALT             1.0         0.005
1       BUTTER WHIPPED WITH SALT             1.0         0.005
2           BUTTER OIL ANHYDROUS             0.0         0.001
3                    CHEESE BLUE            14.5         0.029
4                   CHEESE BRICK            14.5         0.014
...                          ...             ...           ...
8613             MACKEREL SALTED            73.4         0.020
8614  SCALLOP (BAY&SEA) CKD STMD            21.7         0.012
8615                  SYRUP CANE             0.7         0.130
8616                   SNAIL RAW            27.4         0.010
8617            TURTLE GREEN RAW            16.8         0.120

[8618 rows x 3 columns]

In [40]:
#CAS PRATIQUE 1
#affiche seulement les colonnes qui utilise comme unité g (g)
#recupère les etiquetted de tous ls colonnes
colname = inffood.columns.tolist()
print("Type de colname: ",type(colname))
col_g = []
for c in colname :
    if c.endswith("(g)") :
        col_g.append(c) 
        #ajout dans list col_g si nom de colonne termine par ("g)""

#choisie les colonnes en g
col_en_gram = inffood[col_g]
#retire les 3 premiers lignes
col_en_gram.head(3)

Type de colname <class 'list'>

,Water_(g),Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g)
0,15.87,0.85,81.11,2.11,0.06,0.0,0.06,51.368,21.021,3.043
1,15.87,0.85,81.11,2.11,0.06,0.0,0.06,50.489,23.426,3.012
2,0.24,0.28,99.48,0.00,0.00,0.0,0.00,61.924,28.732,3.694

In [43]:
coln=inffood.columns
print(type(coln))

<class 'pandas.core.indexes.base.Index'>

In [73]:
survival = pd.read_csv("donnees/titanic_survival.csv")
c_age = survival['age']
age_null = c_age.isnull()
#nb_true = age_null[age_null==True].count()
nb_false = age_null[age_null==False].count()
nb_true = len(age_null[c_age.isnull()])
print("Null = ", nb_true)
print("Not null = ", nb_false)

Null =  264
Not null =  1046

In [79]:
#probleme de valeur null
#fait un mask isnull s/colonne age
age_isnull = pd.isnull(survival["age"])
#creer nv serie qui contient 
good_age = survival["age"][age_isnull == False]
mean_age = sum(good_age) /len(good_age)
print("age de moyen = ", mean_age)

age de moyen =  29.8811345124283

In [83]:
fare_null = pd.isnull(survival["fare"])
bon_fare = survival["fare"][fare_null == False]
mean_fare = sum(bon_fare) /len(bon_fare)
print("Fare moyenne = ", mean_fare)

Fare moyenne =  33.29547928134572

In [110]:
fares_class = {}
ls_classe = [1, 2, 3]
#ls_classe = survival["pclass"].unique().tolist()
for c in ls_classe :
    #c_fare = survival["fare"][survival["pclass"]==c]
    #fares_class[c] = pd.Series.mean(c_fare)
    fares_class[c] = survival["fare"][survival["pclass"]==c].mean()
    
fares_class
#dfresult = pd.DataFrame(fares_class, index=ls_classe)
#dfresult

{1: 87.50899164086687, 2: 21.1791963898917, 3: 13.302888700564957}

In [111]:
survival[["fare", "pclass"]].groupby("pclass").mean()

             fare
pclass
1.0     87.508992
2.0     21.179196
3.0     13.302889